body {
  background-color: transparent; /* 배경을 투명하게 */
  margin: 0;
  padding: 0;
  color: red; /* 글자가 잘 보이게 빨간색으로 임시 설정 */
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  cursor: default; /* 커서 모양 기본 */
  user-select: none; /* 글자 드래그 방지 */
}